# Checks: '-*,bugprone-*,cert-dcl21-cpp,cert-dcl50-cpp,cert-env33-c,cert-err34-c,cert-err52-cpp,cert-err60-cpp,cert-flp30-c,cert-msc50-cpp,cert-msc51-cpp,cppcoreguidelines-*,-cppcoreguidelines-macro-usage,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-vararg,google-build-using-namespace,google-explicit-constructor,google-global-names-in-headers,google-readability-casting,google-runtime-int,google-runtime-operator,hicpp-*,-hicpp-vararg,misc-*,modernize-*,performance-*,readability-*,-readability-named-parameter'

Checks:
    # -*,
    # bugprone-*,
    # llvm-*,
    # misc-*,
    # modernize-*,
    # performance-*,
    # cppcoreguidelines-*,
    # modernize-use-using,
    # portability-*,
    # readability-*,
    modernize-avoid-c-arrays,
    modernize-use-bool-literals,
    modernize-use-auto,
    # modernize-use-trailing-return-type,
    readability-magic-numbers,
    readability-implicit-bool-conversion,
    modernize-return-braced-init-list,
    readability-named-parameter,
    modernize-pass-by-value,
    modernize-use-default-member-init,
    bugprone-exception-escape,
    misc-non-private-member-variables-in-classes,
    readability-redundant-member-init,
    modernize-deprecated-headers,
    readability-identifier-naming,
    # readability-identifier-length,

# WarningsAsErrors:
#     '*'

HeaderFilterRegex: '/apps/gameserver/*'